<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Error!</title>
</head>
<body>
<h1>Error!</h1>
<p>
    Something went wrong.
    <span th:text="${error}">null</span>
    <span th:text="${msg}">null</span>
</p>
</body>
</html>