<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>You authenticated!</title>
    <script th:src="@{/js/node_modules/core-js/client/shim.min.js}"></script>
    <script th:src="@{/js/node_modules/zone.js/dist/zone.js}"></script>
</head>
<body>
<my-app>Loading...</my-app>
<br/>
<div class="login-page">
    <div class="content-page">
        <span>You are logged in as:<b><span th:text="${user}">null</span></b>
        </span><br/>
        <p>
            <a th:href="@{/ldap/logout}">Logout from LDAP</a><br/>
            <a href="@{/saml/logout}">Logout from SAML</a><br/>
        </p>
    </div>
</div>

<script th:src="@{/js/build.js}"></script>
</body>
</html>
