<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Login Page</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <div class="error" th:if="${error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
            Reason: <span th:text="${errorMsg}">Wrong input!</span>
        </div>
        <br/>
        Login through LDAP
        <form name="f" class="login-form" th:action="@{/ldap/authenticate}" method="post">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input name="submit" class="submit" type="submit" value="Login" />
        </form>
        <br/>
        Or
        <br/>
        Throught <a th:href="@{/saml/login}">saml</a>
    </div>
</div>
</body>
</html>
